# Configuración de la Base de Datos para la Interfaz
DB_HOST=localhost
DB_PORT=1522
DB_USER=system
DB_PASSWORD=Admin12345
DB_SERVICE_NAME=FREEPDB1

# Configuración del Sistema
DEBUG=True
PORT_INTERFAZ=5000